---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import GridLogos from "@/components/GridLogos.astro";
import Slider from "@/components/blocks/Slider.astro";
import Image from "@/components/CloudinaryImage.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import site from "@/site.json";

const posts = await Astro.glob("./proyectos/*.md");
const categoria = Astro.props.frontmatter?.title;
const title = categoria ?? categoria;

const gridPosts = posts
  .filter(({ frontmatter }) => !frontmatter.draft)
  .sort((a, b) => {
    return (
      site.homeGrid.proyectos.indexOf(a.frontmatter.title) -
      site.homeGrid.proyectos.indexOf(b.frontmatter.title)
    );
  });

const sliderPosts = gridPosts.filter(
  ({ frontmatter }) => frontmatter.mostrar_home_sliders
);
---

<DefaultLayout title={title} showHeader={false} showFooter={false} class="">
  <div class="min-h-screen flex flex-col justify-center">
    <Header categoria={categoria} />
    <GridLogos class="flex-1" posts={gridPosts} categoria={categoria} />
    <Footer />
  </div>
  {
    sliderPosts &&
      sliderPosts.map(({ url, frontmatter }) => {
        const { title, logo, slider_fotos, slider_planos } = frontmatter;
        return (
          <div>
            <div class="columns md:columns-2">
              <Slider {...slider_fotos} />
              <Slider {...slider_planos} />
            </div>
            <a href={url}>
              <div class="flex w-full px-4">
                {logo && <Image src={logo} alt={title} class="w-24" />}
                <h2 class="text-lg py-4 uppercase tracking-wider">{title}</h2>
              </div>
            </a>
          </div>
        );
      })
  }
</DefaultLayout>
