---
import "@/styles/global.css";
import { ViewTransitions } from "astro:transitions";
import { transform as imageURL } from "@/components/CloudinaryImage.astro";
import site from "@/site.json";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { description, image = site.cover } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const title =
  Astro.url.pathname === "/"
    ? site.name
    : `${Astro.props.title} | ${site.name}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- Font preloads -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
{
  site.fontFamily && (
    <link
      rel="preload"
      as="style"
      href={`https://fonts.googleapis.com/css2?family=${site.fontFamily}:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap`}
    />
  )
}
{
  site.titleFontFamily && (
    <link
      rel="preload"
      as="style"
      href={`https://fonts.googleapis.com/css2?family=${site.titleFontFamily}:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap`}
    />
  )
}

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL(image, "c_limit,w_2560,f_webp")} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={imageURL(image, "c_limit,w_2560,f_webp")}
/>

<script type="text/javascript">
  // Disable right-click on the entire document
  document.addEventListener("contextmenu", function (e) {
    e.preventDefault();
  });
</script>

<ViewTransitions />

{
  import.meta.env.PROD && site.debug && (
    <script src="https://cdn.tailwindcss.com" />
  )
}

<style
  set:html={`
body {
  font-family: ${site.fontFamily || 'Helvetica'}, sans-serif;
}

#site-name {
  font-family: ${site.titleFontFamily || 'Helvetica'}, sans-serif;
}
`}
></style>
