---
import Image from "@/components/CloudinaryImage.astro";
import site from "@/site.json";

const { posts, categoria, class: className } = Astro.props;
---

<div class="flex justify-center items-center" class:list={[className]}>
  <div
    class=`grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-${site.homeGrid.columns} lg:grid-rows-${site.homeGrid.rows}`
  >
    {
      [...posts].map(({ url, frontmatter }) => (
        <div class="flex justify-center bg-white p-2 mt-2 md:mt-0 text-center">
          <a href={url}>
            <div transition:name={`logo-${frontmatter.title}`}>
              <Image
                src={frontmatter.logo}
                alt={frontmatter.title}
                class:list={[
                  {
                    "grayscale opacity-20":
                      categoria && categoria !== frontmatter.category,
                  },
                ]}
                class="h-20 md:h-24"
                effect="blur"
              />
            </div>
            <div
              class:list={[
                "py-2",
                {
                  "grayscale opacity-20":
                    categoria && categoria !== frontmatter.category,
                },
              ]}
            >
              <h2 class="text-xs font-thin tracking-wider uppercase">
                {frontmatter.title}
              </h2>
              <h2 class="text-xs font-thin tracking-[0.01em] opacity-60">
                {frontmatter.subtitle || frontmatter.category}
              </h2>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
