---
import { Icon } from "astro-icon/components";
import site from "@/site.json";

const { categoria, class: className } = Astro.props;
const categorias = await Astro.glob("../pages/categorias/*.md");

const showCategorias =
  Astro.url.pathname.startsWith("/categorias") || Astro.url.pathname === "/";
---

<header class:list={[className, "z-40 text-white mix-blend-difference"]}>
  <div class="navbar p-4 min-h-0">
    <div class="flex-1">
      <a class="text-2xl md:text-4xl hover:text-inherit" href="/">{site.name}</a
      >
    </div>
    <div class="flex-none">
      <ul class="hidden lg:flex flex-row">
        {
          showCategorias &&
            categorias?.length &&
            categorias.map((item) => (
              <li
                class="text-xs mx-4"
                class:list={[
                  {
                    "font-bold":
                      categoria && categoria === item.frontmatter.title,
                  },
                ]}
              >
                <a href={item.url}>{item.frontmatter.title}</a>
              </li>
            ))
        }
      </ul>
      <label class="swap">
        <input id="menu" type="checkbox" />
        <div class="swap-off">
          <Icon class="icon-shadow" name="mdi:plus" size="32" />
        </div>
        <div class="swap-on">
          <Icon class="icon-shadow" name="mdi:close" size="32" />
        </div>
      </label>
    </div>
  </div>
</header>

<div
  id="backdrop"
  class="flex invisible opacity-0 fixed top-0 bg-white transition-all text-black justify-center items-center h-full w-full lg:mt-16 lg:h-auto lg:w-24 lg:right-0 z-10"
>
  <div class="text-center">
    <nav>
      <ul>
        {
          categorias?.length &&
            categorias.map((item) => (
              <li class="my-4">
                <a
                  class="lg:hidden"
                  class:list={[
                    {
                      "font-bold":
                        categoria && categoria === item.frontmatter.title,
                    },
                  ]}
                  href={item.url}
                >
                  {item.frontmatter.title}
                </a>
              </li>
            ))
        }
        <li class="lg:hidden my-4">
          <span>📐</span>
        </li>
        <li class="my-4">
          <a href="/contacto">contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const backdrop = document.getElementById("backdrop");
    const checkbox = document.getElementById("menu");

    function toggleMenu() {
      if (checkbox.checked) {
        backdrop.classList.remove("invisible", "opacity-0");
      } else {
        backdrop.classList.add("invisible", "opacity-0");
      }
    }
    checkbox.addEventListener("click", toggleMenu);
  });
</script>
